<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Manual Blind Controls</h1>
    <h3>Enter the position for the blinds:</h3>
    <form action="http://127.0.0.1:1880/manual-override" method="post">
        <input type="number" name="manual_override" value=0>
        <button>Fully Closed</button>
    </form>

    <form action="http://localhost:1880/manual-override" method="post">
        <input type="number" name="manual_override" value=25>
        <button>25%</button>
    </form>

    <form action="http://localhost:1880/manual-override" method="post">
        <input type="number" name="manual_override" value=50>
        <button>50%</button>
    </form>

    <form action="http://localhost:1880/manual-override" method="post">
        <input type="number" name="manual_override" value=75>
        <button>75%</button>
    </form>

    <form action="http://localhost:1880/manual-override" method="post">
        <input type="number" name="manual_override" value=100>
        <button>Fully Open</button>
    </form>


    </body>
</html>