<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>

    $(function(){
        window.setInterval(function(){
    loadNewDeviceName()
    }, 500)

    function loadNewDeviceName(){
    $.ajax({
    url:"/updated_data",
    type: "GET",
    dataType: "json",
    success: function(data){
    $(device_name).replaceWith(data)

    }

    });
   }
   });


</script>


<div id="device_name">
    {% for item in blindpositions %}
            <tr>
                <td>{{ item }}</td>
            </tr>
        {% endfor %}
</div>